
.container {
    background-image: url(background.jpg);
    display: flex;
}

.form-side {
  background-color: #F6F7F8;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  
  width: 80%;
  padding: 50px;
  margin: 0 0 40px 0;
}

img {
    width: 80%;
    padding: 50px;
    margin: 0 0 40px 0; 
}