@font-face {
    font-family: norse-bold;
    src: url(Norse-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  background-image: url(background2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-side{
    display: flex;
    flex-direction: column;
    gap: 350px;
}

.logo {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb( 0 0 0 );
    opacity: 0.5;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: norse-bold;
}

img {
    width: 100px;
}

.intro {
    line-height: 1.6;
    font-size: clamp(16px, 2rem, 20px);
}

.intro, .main-form, .button-section {
  background-color: #F6F7F8;
  
  width: 80%;
  padding: 50px;
}

label {
    margin-top: 20px;
}

.main-form {
    background-color: #000;
}

.submit-section {
    background-color: gray;
    gap: 20px;
}

form {
    display: flex;
    gap: 80px;
}


.left-side, .right-side {
    display: flex;
    flex-direction: column;
}

input {
    background-color: #FFFFFF;
     border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px; border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

button {
  font-size: 16px;
  font-weight: bold;

  color: #FFFFFF;
  background-color: #5995DA;

  border: none;
  border-radius: 3px;

  padding: 10px 40px;
  cursor: pointer;
  margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #5995DA;
}