* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
    line-height: 1.6;
    font-size: clamp(16px, 2rem, 20px);
}

.intro, .main-form, .button-section {
  background-color: #F6F7F8;
  
  width: 80%;
  padding: 50px;
}

label {
    margin-top: 20px;
}

.main-form {
    background-color: #000;
}

.submit-section {
    background-color: gray;
    gap: 20px;
}

form {
    display: flex;
    gap: 20px;
}

.left-side, .right-side {
    display: flex;
    flex-direction: column;
}

input[type='text'], 
input[type='email'],
input[type='tel'],
input[type='password'] {
    background-color: #FFFFFF;
     border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px; border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

button {
  font-size: 16px;
  font-weight: bold;

  color: #FFFFFF;
  background-color: #596D48;

  border: none;
  border-radius: 3px;

  padding: 10px 40px;
  cursor: pointer;
  margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #596D48;
}